<import: src="./stats">
<import: src="./users">
<import: src="./website">
<import: src="./config">

<Title:>
  {{_page.title}}

<Head:>
  <view is="commonDeps:meta"></view>
  <view is="commonDeps:css"></view>
  <view is="commonDeps:js"></view>

<Body:>
  <view is="topBar" brand="Vicenza 1">
    <view is="topBar:navLink" url="/coca">Co.Ca.</view>
    <!--<view is="topBar:navLink" url="/staff">Staff</view>-->
    {{if _page.user.admin}}
    <view is="topBar:navLink" url="/admin">Admin</view>
    {{/if}}
  </view>

  <div id="wrapper" class="content">
    <view is="sideBar">
      <view is="sideBar:navLink" url="{{pathFor('users')}}">Utenti</view>
      <!--
      <view is="sideBar:navLink" url="{{pathFor('website')}}">Sito veetrina</view>
      <view is="sideBar:navLink" url="{{pathFor('config')}}">Configurazione</view>
      <view is="sideBar:navLink" url="{{pathFor('stats')}}">Statistiche</view>
      -->
    </view>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <view is="{{$render.ns}}"></view>
      </div>
    </div>
  </div>

  <view is="footer" year="2014"></view>
