<index:>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle top bar</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button id="toggleSideBar" type="button" class="navbar-brand btn btn-link btn-xs" on-click="toggleSideBar()">
          <span class="sr-only">Toggle side bar</span>
          <span id="sidebar-icon" class="glyphicon glyphicon-list"></span>
        </button>
        <a class="navbar-brand" href="{{if @brandUrl}} {{@brandUrl}} {{else}} / {{/if}}">
          {{@brand}}
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{@content}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{if #root.$connection.state !== 'connected'}}
            <li>
              <a href="#">
                {{if #root.$connection.state === 'stopped'}}
                  Unable to reconnect &ndash; <a on-click="reload()">Reload</a>
                {{else}}
                  {{sentenceCase(#root.$connection.state)}}
                  {{unless hideReconnect}}
                    &sp;&ndash; <a on-click="reconnect()">Reconnect</a>
                  {{/unless}}
                {{/if}}
                <span class="sr-only">(Log-out)</span>
              </a>
            </li>
          {{/if}}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {{if #root._page.user.nickName}}
                {{#root._page.user.nickName}} <span class="caret"></span>
              {{else}}
                {{#root._page.user.email}} <span class="caret"></span>
              {{/if}}
            </a>
            <ul class="dropdown-menu" role="menu">
              <view is="navLink" url="/coca/account"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Account</view>
              <view is="navLink" url="/auth/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</view>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<navLink:>
  <li class="{{if $render.url === @url}}active{{/}}">
    <a href="{{@url}}">
      {{if @title}}
        {{@title}}
      {{else if @content}}
        {{@content}}
      {{/if}}

      {{if $render.url === @url}}<span class="sr-only">(current)</span>{{/}}
    </a>
  </li>
