<index:>
  <div class="usersList">
    <h1>Lista utenti</h1>
    
    <div class="tabel-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Soprannome</th>
            <th>Email</th>
            <th>Staff</th>
            <th>Admin</th>
            <th>Elimina</th>
          </tr>
        </thead>

        <tbody>
          {{each _users as #user}}
          <tr>
            <td> <input type="text" class="form-control" value="{{#user.nickName}}"> </td>
            <td> <input type="email" class="form-control" value="{{#user.email}}"> </td>
            <td>
              <select id="prjsInput" class="form-control">
                {{each _groups as #group}}
                <option selected="{{#user.group === #group.id}}">{{#group.name}}</option>
                {{/each}}
              </select>
            </td>
            <td>
              <input type="checkbox" checked="{{#user.admin}}">
            </td>
            <td>
              <button class="btn btn-danger" on-click="delUser(#user.id)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
