<import: src="./mail">
<import: src="./registry">

<Title:>
  {{_page.title}}

<Head:>
  <view is="commonDeps:meta"></view>
  <view is="commonDeps:css"></view>

<Body:>
  <view is="topBar" brand="Vicenza 1" brandUrl="/coca">
    <view is="topBar:navLink" url="/coca">Co.Ca.</view>
    <view is="topBar:navLink" url="/staff">Staff</view>
    <view is="topBar:navLink" url="/admin">Admin</view>
  </view>

  <div id="wrapper" class="content">
    <view is="sideBar">
      <view is="sideBar:navLink" url="{{pathFor('mail')}}">Mail</view>
      <view is="sideBar:navLink" url="{{pathFor('registry')}}">Anagrafe</view>
    </view>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <view is="{{$render.ns}}"></view>
      </div>
    </div>
  </div>

  <view is="footer" year="2014"></view>

  <view is="commonDeps:js"></view>
